<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Alarm Clock</title>
</head>
  <body>
    <div class="current-date-time">
      <div id="date"></div>
      <div id="time"></div>
    </div>
    <h3>Set Alarm Time:</h3>
    <div class="dropdown-section">
      <select id="hours"></select>
      <select id="minutes"></select>
      <select id="seconds"></select>
      <select id="AM-or-PM"></select>
    </div>
    <div class="alarm-buttons">
      <button type="button" id="set-alarm">Set Alarm</button>
      <button type="button" id="reset-alarm">Reset Alarm</button>
    </div>
  </body>
</html>