html {
	height: 100%;
}
body {
	font-family: "Roboto";
	text-align: center;
	min-height: 100%;
	margin: 0;
	display: flex;
  justify-content: center;
	align-items: center;
	
	.alarm-clock {
		padding: 50px 150px;
    background-color: #409243;
		border-radius: 75px;
		border: 10px outset darkgray;
		
		h3 {
			margin-top: 5px;
		}

		button, select {
			font-family: "Roboto";
			font-size:18px;
		}
		.current-date-time {
			font-size: 24px;
			width: 300px;
			background: black;
			color: white;
			border-radius: 10px;
			border: 3px inset white;
		}

		.alarm-options {
			border: 3px solid white;
			margin-top: 10px;
			border-radius: 10px;
			background: #66b566;
		}	

		.dropdown-section {
			margin: 10px 0px;
			.divider {
				font-size: 22px;
			}
		}

		.alarm-time {
			margin: 10px 0px;
		}

		.alarm-buttons {
			margin-bottom: 5px;
		}
	}
}